.slideshow {
  width:60%;
  margin: 0 auto;
  overflow: none;
  position: relative;
}

.slideshow img {
  width:100%;
  object-fit: contain;
  overflow: none;
}

#prev,
#next {
  position: absolute;
  z-index: 9999;
  display: block;
  top: 1vh;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  opacity: 0.5;
}

#prev:hover{opacity:1;}
#next:hover{opacity:1;}

#prev {
  left: 0;
  background: url(https://image.ibb.co/jevVLk/prev.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#next {
  right: 0;
  background: url(https://image.ibb.co/eGoT6Q/next.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

@media (max-width:750px) {
  .slideshow {width:90%;}
