.essay{padding: 2% 5% 5% 5% !important;}

.slideshow {
  width:60%;
  margin: 0 auto;
  overflow: none;
  position: relative;
    z-index:1;
}

.slideshow img {
  width:100%;
  object-fit: contain;
  overflow: none;
}

#prev,
#next {
  position: fixed;
  z-index: 9999;
  display: block;
  top: 42vh;
  width: 100px;
  height: 100px;
  text-indent: -9999px;
  opacity: 0.5;
}

#prev:hover{opacity:1;}
#next:hover{opacity:1;}

#prev {
  left: 0;
  background: url(https://image.ibb.co/jevVLk/prev.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

#next {
  right: 0;
  background: url(https://image.ibb.co/eGoT6Q/next.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

@media (max-width:750px) {
  .slideshow {width:90%;}
  #prev, #next { width: 50px; height: 50px; background-size: 50px 50px;}
}
