a{color: currentColor;}
a:hover{}

h1 {font-size: 30px; margin: 0;}

h2 {font-size: 25px; margin: 0; padding: 0;}

h5 {font-size: 16px; margin: 0; padding: 0;}

h6 {font-size: 15px; margin: 0; padding: 0;}

quote{font-size: 20px;}

sup{font-size: 12px; font-style: normal !important; padding: 0 3px 0 3px; color: #4E3C58; font-weight: 600;}

sup:hover{color: #fff; transition: 0.2s ease-in-out;}

.blog-wrapper{width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 70px;}

ul{list-style: none; margin: 0; padding: 0;}

.blog-wrapper label{background: rgba(255 , 255 , 255 , 0.2); margin: 0.5%; padding: 2% 1% 2% 1%; display: block; box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1); cursor:pointer; border-radius: 10px;}

.blog-wrapper label:hover{background: rgba(255 , 255 , 255 , 0.5); transition: 0.2s ease-in-out;}

.blog-wrapper label h1, label h2{padding-left: 1%;}

.essays-top{margin-bottom: 40px;}

.essays-top h1{text-align: center; font-size: 40px !important;}

.content{padding: 0 1% 0 1%;}

.essay {max-width: 1500px; display: block; margin-left: auto; margin-right: auto; background: rgba(255 , 255 , 255 , 0.2); margin-top: 3%; padding: 2%; box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden; margin-bottom: 80px;}

.essay p{margin-bottom: 1%; text-align: justify;}
.essay .back-btn{float: right; padding: 2% 1% 0 1%;}
.essay .back-btn-o{float: right; padding: 0% 1% 2% 1%;}
.essay a:hover{color: #fff; transition: 0.2s ease-in-out;}

.essay .ref{font-size: 12px;}

.essay .ref br{padding-top: 3px;}

.essay .ref sup:hover{color: #4E3C58;}

.essay .centered{text-align: center;}

.essay .epic {line-height: 1.5;}

.essay .center-text{text-align: center;}

.essay .credited-to{text-align: right;}

.essay iframe {width: 100%; height: 700px; margin-top: 20px;}

ul ul li{
  padding: 2% 1% 2% 1%; margin: 1% 2% 1% 2%;
  background: rgba(255 , 255 , 255 , 0.2);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ul ul .last{height: 50px; background: rgba(255 , 255 , 255 , 0.0); box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);}

ul ul .gap {height: 15px !important; background: rgba(255 , 255 , 255 , 0.0); box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0); margin: 0 !important; padding:0 !important;}

ul .bottom-gap{height: 70px !important; background: rgba(255 , 255 , 255 , 0.0) !important; color: rgba(255 , 255 , 255 , 0.0) !important;}

ul ul .gap:hover{background: rgba(255 , 255 , 255 , 0.0) !important;}
ul ul .last:hover{background: rgba(255 , 255 , 255 , 0.0) !important;}

ul ul li:hover {background: rgba(255 , 255 , 255 , 0.5); transition: 0.2s ease-in-out;}


input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .3s ease-out;
  transform: scaleY(1);
}

input[type="checkbox"]:checked ~ ul{
  /*height: 0;
  transform: scaleY(0);*/
}

input[type="checkbox"]:checked + label{
  /*background: rgba(255 , 255 , 255 , 0.5);*/
  margin-bottom: 0;
}

@media (max-width:850px){.essay{margin-bottom: 180px;}}

@media (max-width:750px) {

    .blog-wrapper{width: 90%; height: calc(100vh - 180px);}

    h1, h2, h3, h4, h5, h6{clear: both;}

    h2{font-size: 20px;}
    h5{font-size: 15px;}

    .blog-wrapper label {margin: 1%; padding: 3%;}

    ul .bottom-gap{height: 25vh !important;}

    ul ul li{padding: 3%;}
    ul ul .last{height: 500px;}
    .essay{max-width: 95%; padding: 5%; margin-bottom: 150px;}

    .essay .back-btn, .back-btn-o{font-size: 12px !important; background: rgba(255 , 255 , 255 , 0.2); box-sizing: border-box; border-radius: 10px;}

    .essay .back-btn {margin: 4% 1% 0 1%; padding: 10px;}

    .essay .back-btn-o{float: left !important; margin-bottom: 6%; padding: 10px;}

    .essay a:hover{color: #000 !important; background: rgba(255 , 255 , 255 , 0.5); transition: 0.2s ease-in-out;}

    .essay iframe {height: 380px;}

    .accord-pages{position: relative !important;}


}
