@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-super-tall {
    grid-row: span 3 / auto;
  }

  .card-ultra-tall {
    grid-row: span 4 / auto;
  }

  .card-mega-tall {
    grid-row: span 6 / auto;
  }

.card-giga-tall {
  grid-row: span 8 / auto;
}

  .card-wide {
    grid-column: span 2 / auto;
  }
}
